@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

a,
button {
  cursor: pointer;
  font: inherit;
  color: inherit;
}

button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-inline: clamp(1rem, 5vw, 3rem);
  max-width: 90rem;
  margin-inline: auto;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.header__logo {
  padding: 1rem;
}
.header__btn {
  display: none;
}
.header .nav {
  background: hsla(0deg, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
}
.header .nav__items {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header .nav__items span {
  font-weight: 700;
}

@media (max-width: 43.75rem) {
  body.hidden {
    overflow: hidden;
  }
  .header__btn {
    display: block;
    position: absolute;
    z-index: 9999;
    right: 2em;
  }
  .header .nav {
    position: fixed;
    inset: 0 0 0 30vw;
    flex-direction: column;
    --gap: 2rem;
    padding: min(20vh, 8em) 2em;
    transition: transform 300ms ease;
  }
  .header .nav[data-visible=false] {
    transform: translateX(100%);
  }
  .header .nav[data-visible=true] {
    transform: translateX(0);
  }
}
@media (min-width: 43.75rem) {
  .header .nav {
    padding: 2em 3em;
    --gap: 2.5em;
  }
  .header .nav .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2rem;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    display: none;
  }
  .header .nav .link.active::after {
    display: block;
  }
  .header .nav .link:hover {
    padding-bottom: 2rem;
    border-bottom: 3px solid hsla(0deg, 0%, 100%, 0.5);
  }
  .header .nav span {
    display: none;
  }
}
@media (min-width: 1000px) {
  .header .nav {
    position: relative;
    margin-block: 1em;
    padding-left: 8em;
    padding-right: 10em;
  }
  .header .nav span {
    display: inline-block;
  }
}
body {
  font-family: "Bellefair", serif;
  background-color: #0b0d17;
  color: #ffffff;
}

.main {
  background: no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  transition: background-image 0.5s ease;
  padding-top: 120px;
}
.main.home {
  background-image: url("../assets/home/background-home-mobile.jpg");
}

@media (min-width: 1000px) {
  .main.home {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}/*# sourceMappingURL=style.css.map */