@mixin background-images($bg-type) {
  .main {
    &.theme--home {
      background-image: url("../assets/home/background-home-#{$bg-type}.jpg");
    }
    &.theme--destination {
      background-image: url("../assets/destination/background-destination-#{$bg-type}.jpg");
    }
    &.theme--crew {
      background-image: url("../assets/crew/background-crew-#{$bg-type}.jpg");
    }
    &.theme--technology {
      background-image: url("../assets/technology/background-technology-#{$bg-type}.jpg");
    }
  }
}
