@use "../Utils/functions" as func;
// FONTS
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
$ff-bellefair: "Bellefair", serif;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
$ff-barlow: "Barlow Condensed", sans-serif;

// COLORS
$color-100: #ffffff;
$color-400: #383b4b;
$color-500: #d0d6f9;
$color-700: #0b0d17;

// TYPOGRAPHY
$text-heading-28: func.rem(28);
$text-heading-32: func.rem(32);
$text-heading-56: func.rem(56);
$text-heading-100: func.rem(100);
$text-heading-150: func.rem(150);

$text-sub-14: func.rem(14);
$text-sub-16: func.rem(16);
$text-sub-28: func.rem(28);

// MEDIA QUERIES
$md-sm: func.rem(700);
$md-lg: func.rem(900);
