@use "../Utils/variables" as var;
@use "../Utils/functions" as func;
@use "../Utils/toolkits" as tool;

$md-sm: var.$md-sm;
$md-lg: var.$md-lg;

.crew {
  gap: 2em;

  &__container {
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__img {
    border-bottom: 2px solid var.$color-400;

    img {
      height: func.fluid(223, 60vw, 712);
      margin-inline: auto;
    }
  }

  &__selection {
    justify-content: center;
    gap: 1em;
    margin-block: 1em;

    &-each {
      aspect-ratio: 1;
      width: func.fluid(10, 5vw, 15);
      border-radius: 50%;
      background-color: var.$color-400;

      &:hover {
        background-color: var.$color-100;
        opacity: 0.5;
      }

      &.active {
        background-color: var.$color-100;
      }
    }
  }

  &__role {
    text-transform: uppercase;
    font-size: func.fluid(16, 5vw, 32);
    color: var.$color-100;
    opacity: 0.5;
  }
}

@media (min-width: $md-sm) {
  .crew {
    &__container {
      gap: 1em;
    }

    &__img {
      border: none;
      grid-row: 2;
    }
  }
}

@media (min-width: $md-lg) {
  .crew {
    gap: 0;

    &__container {
      grid-template-columns: 1fr 1fr;
      position: relative;
    }

    &__img {
      grid-row: 1;
      grid-column: 2;
    }

    &__info {
      align-items: start;
      justify-content: start;
      text-align: left;
    }

    .section__heading {
      margin-bottom: func.rem(27);
    }

    .section__desc {
      margin: initial;
    }

    &__selection {
      justify-content: start;
      position: absolute;
      bottom: 2em;
    }
  }
}
