@use "../Utils/functions" as func;
@use "../Utils/variables" as var;
@use "../Utils/toolkits" as tool;

.destination {
  display: grid;
  text-align: center;
  gap: 1em;

  &__container {
    display: grid;
    place-items: center;
    gap: 1em;
    margin-bottom: 2em;
  }

  &__img {
    height: func.fluid(170, 50vw, 445);
  }

  &__selection {
    justify-content: center;
    --gap: 2em;
    padding-bottom: 1em;

    button {
      position: relative;
      text-transform: uppercase;
      color: var.$color-500;
      font-family: var.$ff-barlow;
      font-size: func.fluid(14, 2.5vw, 18);

      &.active {
        color: var.$color-100;
      }
    }

    button::after {
      @include tool.activeStyle();
      bottom: -0.25em;
    }

    button.active::after {
      display: inline;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: func.fluid(56, 10vw, 100);
    font-weight: 400;
  }

  &__desc {
    color: var.$color-500;
    font-size: var.$text-sub-16;
    max-width: func.rem(573);
    margin-inline: auto;
  }

  &__more {
    border-top: 1px solid var.$color-400;
    margin-block: func.rem(32);
    padding-top: func.rem(32);
    text-transform: uppercase;

    flex-direction: column;
    gap: func.rem(32);

    > div {
      flex-direction: column;
      gap: func.rem(12);
    }

    .subhead {
      color: var.$color-500;
      font-size: var.$text-sub-14;
    }

    .numbers {
      font-size: var.$text-heading-28;
    }
  }
}

$md-lg: var.$md-lg;

@media (min-width: $md-lg) {
  .destination {
    gap: func.rem(64);

    &__container {
      grid-template-columns: 1fr 1fr;
    }

    &__info {
      text-align: left;
    }

    &__selection {
      justify-content: start;
      gap: func.rem(36);
    }

    &__more {
      flex-direction: row;
      gap: func.rem(79);
    }
  }
}
