@use "../Utils/variables" as var;
@use "../Utils/functions" as func;
@use "../Utils/toolkits" as tool;

$md-sm: var.$md-sm;
$md-lg: var.$md-lg;

// MISCS STYLING
body {
  font-family: var.$ff-bellefair;
  background-color: var.$color-700;
  color: var.$color-100;
}

.error {
  display: flex;
  gap: 0.75em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  a {
    background-color: var.$color-100;
    color: var.$color-700;
    padding: 0.5em;
    border-radius: 0.5em;

    &:hover {
      background-color: var.$color-500;
    }
  }
}

.loading {
  display: flex;
  gap: 0.75em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

// SECTION Stylings
.section__title {
  text-transform: uppercase;
  font-family: var.$ff-barlow;
  font-size: func.fluid(16, 4vw, 28);
  letter-spacing: 2.7px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  gap: 1em;

  span {
    color: var.$color-400;
  }
}

.section__heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: func.fluid(24, 5vw, 56);
}

.section__desc {
  color: var.$color-500;
  font-size: func.fluid(15, 2.5vw, 18);
  max-width: func.rem(458);
  margin-inline: auto;
}

@media (min-width: 700px) {
  .section__title {
    justify-content: flex-start;
  }
}

// SECTION MARGIN
.main {
  background: no-repeat center center;
  background-size: 100% 100%;
  min-height: 100vh;
  transition: background-image 0.5s ease;
  padding-top: 120px;
  background-image: url("../assets/home/background-home-desktop.jpg");
}

@media (min-width: $md-lg) {
  .main > section {
    margin-top: func.rem(66);
  }
}

// BACKGROUND IMAGES FOR DIFFERENT VIEWPORTS
@media (max-width: $md-sm) {
  @include tool.background-images("mobile");
}

@media (min-width: $md-sm) {
  @include tool.background-images("tablet");
}

@media (min-width: $md-lg) {
  @include tool.background-images("desktop");
}
