@use "../Utils/variables" as var;
@use "../Utils/functions" as func;
@use "../Utils/toolkits" as tool;

body {
  font-family: var.$ff;
  background-color: var.$color-700;
  color: var.$color-100;
}

.main {
  background: no-repeat center center;
  background-size: 100% 100%;
  min-height: 100vh;
  transition: background-image 0.5s ease;
  padding-top: 120px;
  background-image: url("../assets/home/background-home-desktop.jpg");
}

@media (max-width: 700px) {
  @include tool.background-images("mobile");
}

@media (min-width: 700px) {
  @include tool.background-images("tablet");
}

@media (min-width: 1000px) {
  @include tool.background-images("desktop");
}
