@use "../Utils/variables" as var;
@use "../Utils/functions" as func;

body {
  font-family: var.$ff;
  background-color: var.$color-700;
  color: var.$color-100;
}

.main {
  background: no-repeat center center;
  background-size: 100% 100%;
  min-height: 100vh;
  transition: background-image 0.5s ease;
  padding-top: 120px;
  background-image: url("../assets/home/background-home-desktop.jpg");
}

@media (min-width: 1000px) {
  .main {
    &.home {
      background-image: url("../assets/home/background-home-desktop.jpg");
    }
    &.destination {
      background-image: url("../assets/destination/background-destination-desktop.jpg");
    }
    &.crew {
      background-image: url("../assets/crew/background-crew-desktop.jpg");
    }
    &.technology {
      background-image: url("../assets/technology/background-technology-desktop.jpg");
    }
  }
}
